@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="jumbotron"  style="height:900px;background-image:url(https://cdn.cnn.com/cnnnext/dam/assets/170828070646-62b-hurricane-harvey-0827-full-169.jpg)">
        <h1 style="font-size:178px;"><span class="text-danger">R</span>n<span class="text-danger">R</span></h1>
        <div class="row container-fluid">
            <p class="lead font-weight-bold" style="color:white;">Prepare and React to emergencies more efficiently than ever.</p>
        </div>
        
        <p><a href="http://asp.net" class="btn btn-success btn-lg">Relief&raquo;</a></p>
        <p><a href="#" class="btn btn-danger btn-lg">Recovery&raquo;</a></p>
    </div>
</div> 

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>